NYM_CLIENT_ID=nym_server
DATABASE_PATH=storage/$NYM_CLIENT_ID.db
LOG_FILE_PATH=storage/app.log
KEYS_DIR=storage/keys
WEBSOCKET_URL=ws://127.0.0.1:1977
SECRET_PATH=secrets/encryption_password

SERVER_ADDRESS=42rxQ9Vra6QdXrzi9YphHiBB6tfMydiv3597fvMvhs2o.5B8GWQxPAPW9f4gfWhnM4b7th4UyMnd2hJpiy1PzxZJZ@9AHi1PfuFEH2XAM4czMpB7DbD389QQ4eCxTV87YeKZ2t
REDIS_URL=redis://localhost:6379/0
